body {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    /* background-size: ; */
    background-position: right;
    /* background-size: contain; */
    background-size: cover;
    /* background-size: 150%; */
    /* back */
    overflow-x: hidden;
    overflow-y: hidden;
}

#description {
  max-height: 510px;   
  overflow-y: auto;    
  overflow-x: hidden;  
}
#description::-webkit-scrollbar {
  background-color: transparent;
  color: thistle;  
}

button {
    size: wrap;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 8px;
}

#description {
    background-color: #71b4db;
    color: white;
    width: 500px;
    margin-left: 35px;
    border-radius: 16px;
    font-size: 32px;
    padding: 30px;
    height: 510px;
}

html {
    margin: 0;
    /* overflow: hidden; */
}
